.submit-topic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
    .submit-topic-header-container {
        background-color: whitesmoke;
        margin: 5px
    }   
        .submit-topic-header {
            color: black
        }
    
    .submit-topic-form-container {
        margin: 5px
    }
        .submit-topic-form {
            display: flex;
            flex-direction: column;
        }

            .topic-submission-form {
                margin: 5px;
                padding: 5px
            }
        .pop-answer-submission-field {
            margin: 5px
        }